body {
	color: #333333;
}

.wrapup .controls li fieldset > div {
  width: 365px;
  float: left;
}

form.small-inputs div.control-group {
  width: 50%;
  float: left;
}
legend + .control-group {
  margin-top: 0 !important;
}
pre {
  margin: 0 !important;
}
div#res.alert {
  padding: 0 !important;
}

ul.nav-tabs {
	margin-right: -1px !important;
	font-weight: bold;
	width: 150px;
}

ul.nav-tabs + div {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px;
}

.tab-content fieldset {
	float: left;
	width: 100%;	
}

.tab-content fieldset label {
	float: left;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.tab-content fieldset input {
	float: left;
	width: 98%;
}

.categoryInput {
	float: left;
	width: 100%;
}

.categoryInput label {
	float: left;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.categoryInput input {
	float: left;
	width: 98%;
}

.wrapup {
	float: left;
	width: 100%;
}

.wrapup > label {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

input, textarea, select, .uneditable-input {
	width: 100%;
}

label {
	font-weight: bold;
	font-size: 15px;
}

ul input {
	width: 92%;
}

form.small-inputs input {
	width: 95%;
}

form.small-inputs input[type='submit'] {
	width: 100%;
}

form.small-inputs .controls {
	margin-right: 10px;
}

fieldset.jsonform-error-_at  input{
	width: 98%;
}

h1 {
	margin: 30px 0;
}